<h3>myProfile</h3>
@page "/myAccount"
@using COMMON.Models
@using SERVICE.Contracts



<MudContainer>
    <MudGrid>
        <MudItem xs="6">
            <MudButton Color="Color.Primary" OnClick="()=> ShowList(true)">
                <strong>@userState.FollowedCount</strong> Takip Edilenler
            </MudButton>
        </MudItem>
        <MudItem xs="6">
            <MudButton Color="Color.Primary" OnClick="()=> ShowList(false)">
                <strong>@userState.FollowerCount</strong> Takipçiler
            </MudButton>
        </MudItem>
    </MudGrid>

    <UserListComponent Users="(isFollowedL33ist ? FollowedUsers : FollowerUsers)" IsFollowedList="isFollowedList" />
</MudContainer>




@code {
    [Inject]
    BookUserEngine? bookUserEngine { get; set; }
    [Inject]
    UserState userState { get; set; } = new();

    private bool isFollowedList=false;         
    private List<UserListModel> FollowedUsers = new();
    private List<UserListModel> FollowerUsers = new();

    protected override async Task OnInitializedAsync()
    {

        FollowedUsers = await bookUserEngine.GetFollowedUsers(userState.Id);

        FollowerUsers = await bookUserEngine.GetFollowerUsers(userState.Id);
    }

    private void ShowList(bool showFollowed){
        isFollowedList = showFollowed;
    }

}
