@page "/userSettings"
@using BlazorBookStore_App.Components.Models
@using SERVICE.Contracts
@inject UserState userState
@inject IBookUserEngine _engine ;
<div class="settings-form">
    <label>First Name:</label>
    <input type="text" value="@userState.FirstName" readonly />

    <label>Last Name:</label>
    <input type="text" value="@userState.LastName" readonly />

    <label>Username:</label>
    <input type="text" @bind="userSettingsModel.UserName" />
    <label>Username:</label>
    <button  @bind="changeEmailModal" />



    <label>Bio:</label>
    <textarea @bind="userSettingsModel.Bio"></textarea>
    <label>City:</label>
    <input type="text" @bind="userSettingsModel.City" />
    if(isEmailWillChange){
        <UpdateEmailModal> </UpdateEmailModal>
    }
     
    <button onclick="SaveChanges">Save Changes</button>
</div>


@code {
    public string? newPassword { get; set; }
    public UserPersonalProfile userSettingsModel { get; set; } = new();
    public bool isEmailWillChange { get; set; } = false;


    private async Task SaveChanges(UserPersonalProfile userSettingsModel)
    {
        if (userSettingsModel==null)
        {
            throw new ArgumentNullException("Argument Null Exception");

        }
        await this._engine.UpdateUserSettings(userSettingsModel, newPassword);
    }


    public void changeEmailModal(){
    isEmailWillChange =true;
     
    }



}
